fastapi
uvicorn
pydantic
pydantic-settings
python-multipart
numpy==1.26.3 
opencv-python
PyMuPDF
easyocr
scikit-learn
transformers
accelerate
bitsandbytes
autogen
ag2[openai]
rapidfuzz
httpx
Pillow
python-jose
qwen-vl-utils
hf_transfer
orjson
pdf2image



